{
    "check-coverage": true,
    "statements": 93,
    "branches": 77,
    "functions": 93,
    "lines": 93,
    "include": [
        "generators/**/*.js"
    ],
    "exclude": [
        "generators/**/templates/**",
        "generators/app/fallback_*.js"
    ]
}